/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
  padding: 1rem;
}

/*--- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
margin-left: 0px!important;
margin-right: 0px!important;
}

/*--- Fix for Fixed Navbar jumping on scroll --*/
.fixed-top  {
 -webkit-backface-visibility: hidden;
}


/*--- Fixed Landing Page Section --*/
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1;
  overflow: hidden;
}
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
.landing1{
  position: relative;
  width: 100%;
  height: 80vh;
  display: table;
  z-index: -1;
  overflow: hidden;
}
.home-inner1 {
  position: fixed;
  display: table;
  top: -22%;
  left: 30%;
  width: 80%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
.landing2{
  position: relative;
  width: 100%;
  height: 67vh;
  display: table;
  z-index: -1;
  overflow: hidden;
}
.home-inner2 {
  position: fixed;
  display: table;
  top: -22%;
  left: 40%;
  width: 60%;
  height: 90%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
.landing3{
  position: relative;
  width: 100%;
  height: 70vh;
  display: table;
  z-index: -1;
  overflow: hidden;
}
.home-inner3 {
  position: fixed;
  display: table;
  top: -22%;
  left: 40%;
  width: 60%;
  height: 90%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- iOS Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  height: 100%;
}
.fixed-background1 {
  position: relative;
  width: 100%;
  height: 100%;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999!important;
}
.fixed {
  position: fixed;
  display: block;
  top: 0;
  left: 40%;
  width: 60%;
  height: 100%;
   background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
.fixed-wrap1 {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999!important;
}
.fixed1 {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
   background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
.fixed-wrap2 {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 60%;
  width: 40%;
  height: 100%;
  z-index: -999!important;
}
.fixed2 {
  position: fixed;
  display: block;
  top: 0;
  left: 60%;
  width: 40%;
  height: 100%;
   background-size: cover;
  background-position: top left;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}